/************************************************
**	Drapeaux pour les langues
************************************************/
img.drapeau {
	margin-bottom: -6px;
	vertical-align: baseline;
}

/************************************************
**	Corps de métier de la corp
************************************************/
div.metier {
	height: 100px;

	background-color: yellow;
}
div.metier img.img_metier {
	top: 5px;
	right: 20px;
	max-width: 70px;
	max-height: 70px;
	position: absolute;
}
div.metier span.titre_metier {
	top: 5px;
	left: 20px;
	position: absolute;
}
div.metier span.directeur_metier {
	bottom: 5px;
	right: 20px;
	position: absolute;
}
/************************************************
**	Paragraphe d'erreurs
************************************************/
p.erreur {
	color: #AA0000;
	text-align: center;
}