/************************************************
** Menu supérieur
************************************************/
div#menu_sup {
	-webkit-box-shadow: 0px 5px 5px 3px rgba(60, 60, 60, 0.75);/*0px 5px 3px #AFAFAF;*/
	box-shadow: 0px 5px 5px 3px rgba(60, 60, 60, 0.75);
}

/************************************************
** Footer (le pied de page)
************************************************/
div#pied_de_page {
	padding-top: 15px;
}