/*********************************** SQUELETTE DU SITE INTERNET ***********************************/
h2 {
	margin: 0px;
}
a {
	color: #808080;
	font-style: normal;
	text-decoration: none;
}
a:hover {
	color: #808080;
	cursor: pointer;
	font-style: normal;
}
a img {
	border: none;
}
a img:hover {
	border: none;
}
a:hover img:hover {
	border: none;
}